<!-- Indeed Search Engine -->
<div class="indeed_search text-center", id="index_header">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= form_tag(root_path, method: :get, class: "form-inline text-center", id: "indeed_search") do %>
				<h2>LOOKING FOR A JOB?</h2>
				<div class="form-group">
					<%= text_field_tag :q, nil, class: "form-control", placeholder: "Job Title or Keywords", autofocus: true, required: true %>
				</div>
				<div class="form-group">
					<%= text_field_tag :l, nil, class: "form-control", placeholder: "City, State or Zipcode", autofocus: true %>
				</div>
				<div class="form-group">
					<%= select_tag :jt, options_for_select([ "Full Time", "Part Time", "Contract", "Temporary", "Internship", "Commission" ], "Full Time"), class: "form-control" %>
				</div>
				<div class="form-group">
					<%= submit_tag "Indeed Search", class: "btn btn-primary" %>
				</div>
				<p>jobs by <span><img src="http://img.informer.com/icons/png/48/3798/3798889.png" style="height: 20px"></span></p>
			<% end %>
		</div>
	</div>
</div>

<!-- Heading -->
<div class="text-center" id="index_heading">
	<% if !@category_id and !@search%> 
		<!-- show "Job Bulletin" as title in as default or if All Job clicked -->
		<h1>Job Bulletin</h1>
	<% elsif @category_id and !@search  %>
		<!-- show category job as title if user click on category -->
		<h1><%=  Category.find(@category_id).name %> Jobs</h1>
	<% elsif @search %>
		<!-- if an indeed search performed "Indeed Search Results" is the title -->
		<h1>Indeed Search Results</h1>
	<% end %>
</div>

<!-- jobs and search result -->
<div class="col-lg-10 col-lg-offset-1">
	<% if @search %>
		<!-- if an Indeed search performed, show search result -->
		<% if @jobs.any? %>
			<% @jobs.each do |job| %>
				<h3><%= link_to job.job_title, job.url %></h3>
				<h5><strong>Company: </strong><%= job.company %> - <%=  job.formatted_location_full %></h5>
				<h5>Posted: <%= time_ago_in_words(job.date) %> ago.</h5>
				<h5><strong>Description Snippet: </strong><%= job.snippet %>... <%= link_to "learn more", job.url , class: "learn_more" %>.</h5>
				<hr>
			<% end %>
		<% else %>
			<!-- alert message when no jobs found in Indeed -->
			<div class="alert alert-warning">
				<h4 class="text-center">The search <strong><i><%= params[:q]%> <%= params[:l].strip.empty? ? '' : 'in ' + params[:l] + ' ' %></i></strong>does not match any jobs</h4>
			</div>
		<% end  %>
	<% else %>
		
		<!-- when no search performed show user posted jobs -->
		<% if @jobs.any? %>
			<!-- if there are any job posted belong to this catetory, list them -->
			<% @jobs.each do |job| %>
			  <h3><%= link_to job.title, job_path(job), class: "index_job_title" %></h3>
			  <p><i><%= job.category.name %> - Posted by: <%= link_to User.find(job.user_id).first_name, user_path(User.find(job.user_id)), class: "post_user_name" %> (<%= time_ago_in_words(job.created_at) %> ago)</i></p>
				<h5><strong>Company: </strong><%= job.company %> - <%= job.location %></h5>
				<!-- only print first 10 words of the job description -->
				<h5><strong>Description Snippet: </strong><%= job.description.split(" ").slice(0,10).join(" ") %>... <%= link_to "learn more", job_path(job), class: "learn_more" %>.</h5>
				<hr>
			<% end %>
			<% else %>
				<div class="text-center">
					<% if @bulletin_search %>
						<!-- when no result found for a bulletin search -->
						<h2>No jobs in the Bulletin match keyword "<%= params[:query] %>"</h2>
						<%= link_to "Back to Bulletin", jobs_path %>
					<% else %>
						<!-- show this message if no jost posted in this category  -->
						<h2>There aren't any jobs posted yet!</h2>
					<% end %>
				</div>
			<% end %>

	<% end %>

	<div class="pagination_holder text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>