<% if @jobs.any? %>
	<div class="text-center">
		<% if !@category_id %> 
			<!-- show "All Jobs" as title if All Job clicked -->
			<h1>Job Buletin</h1>
		<% else  %>
			<!-- show category job as title -->
			<h1><%=  Category.find(@category_id).name %> Jobs</h1>
		<% end %>
	</div>
	<% @jobs.each do |job| %>
	  <h3><%= link_to job.title, job_path(job), class: "index_job_title" %></h3>
	  <p><i><%= job.category.name %> - Posted by: <%= link_to User.find(job.user_id).first_name, user_path(User.find(job.user_id)) %> (<%= time_ago_in_words(job.created_at) %> ago)</i></p>
		<h5><strong>Company: </strong><%= job.company %></h5>
		<hr>
	<% end %>
<% else %>
	<h2 class="text-center">There aren't any jobs posted yet!</h2>
<% end %>


