<h2><%= @job.title %></h2>
<h4>Company: <%= @job.company %></h4>
<p>Job Description: <%= @job.description %></p>
<%= link_to "Job Link", @job.url %>
<br>
<%= link_to "Home", jobs_path %>
<%= link_to "Edit", edit_job_path(@job) %>
<%= link_to "Delete", @job, method: :delete, data: {confirm: "Are You Sure?"} %>
