<div class="containter">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1 class="text-center">Edit Profile</h1>
			<hr>
			<%=  form_for @user do |f| %>
				<div class="form-group">
					<%=  f.label :first_name %>
					<%=  f.text_field :first_name, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :last_name %>
					<%=  f.text_field :last_name, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%=  f.label :email %>
					<%=  f.email_field :email, class: "form-control", autofocus: true %>
				</div>
				<div class="form-group">
					<%= f.submit "Edit", class: "btn btn-default" %>
					<%= link_to "Cancel", user_path(@user), class: "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
