<!DOCTYPE html>
<html>
<head>
  <title>Dev Job Bulletin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @singup_login_page ? 'singup_login_page' : ''%>">
	<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "DevJobs", jobs_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "All Jobs", jobs_path %></li>
					<% Category.all.each do |category| %>
						<!-- loop to each category -->
						<!-- sample url http://localhost:3000/jobs?category=Full+Time -->
						<li><%= link_to category.name, jobs_path(category: category.name) %></li>
					<% end  %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%=  link_to "Add Job", new_job_path %></li>
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
      </div>
    </div>
  </nav>

  <!-- error message -->
  <% flash.each do |name, msg| %>
    <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
      <div class="container">
        <%= msg %>
      </div>
    </div>
  <% end %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
